Establishing a Tunnel with CONNECT

Most popular proxies respond `HTTP/1.1 200 Connection established` established to a successful CONNECT request.

Many curl-based proxy libraries (e.g. for php) have handles that understand the `HTTP/1.1 200 Connection established`  string, but they do not understand `HTTP/1.1 200 OK`.

It's better to respond with `HTTP/1.1 200 Connection established` , instead of `HTTP/1.1 200 OK` for better compatibility with such software.

> Most popular proxies respond HTTP/1.1 200 Connection established established to a successful CONNECT request.

Maybe just Squid does that?

RFC 2817, Section 5.3:

> 5.3 Establishing a Tunnel with CONNECT
>
>   Any successful (2xx) response to a CONNECT request indicates that the 
>   proxy has established a connection to the requested host and port,
>   and has switched to tunneling the current connection to that server
>   connection.

It's their implementation is broken and has to be fixed, mine isn't. curl handles such responses very well.